@import 'modules/vars';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/feature';
@import 'modules/container';
@import 'modules/promo';
@import 'modules/category';
@import 'modules/content';
@import 'modules/subscription';
@import 'modules/reg-form';
@import 'modules/header__sub';
@import 'modules/filter';
@import 'modules/description';
@import 'modules/slider';
@import 'modules/products';
@import 'modules/product-cart';
@import 'modules/drop-down';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,900&display=swap');
@import 'modules/nav-menu';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    

    &:focus {
        outline: none;
    }
}