@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,900&display=swap");
footer {
  background-color: #222224;
  padding: 24px 0;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex > p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fbfbfb;
  text-transform: capitalize;
}

footer .flex > p > span {
  display: inline-block;
  margin: 0 7px;
}

footer article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer article > i {
  background-color: #fff;
  padding: 8px 10px;
  margin-right: 8px;
  max-width: 31.45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer article > i:last-child {
  margin-right: 0;
}

footer article > i:hover {
  cursor: pointer;
  background-color: #F16D7F;
  color: #fff;
}

.header {
  height: 75px;
  background-color: #222222;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left > a {
  margin-left: 44px;
}

.header__left > a:first-child {
  margin-left: 0;
}

.header .right-item {
  margin-right: 33px;
}

.header .right-item:last-child {
  margin-right: 0;
}

.header button {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 23px;
  background-color: #222222;
  border: none;
}

.header button > .btn {
  display: block;
  height: 2px;
  width: 28px;
  background-color: #fff;
  margin: 8px auto;
}

.header button::before, .header button::after {
  content: '';
  display: block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}

.header svg {
  fill: #E8E8E8;
}

.feature {
  background-color: #222222;
  margin-top: 95px;
}

.feature__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #FBFBFB;
  text-transform: none;
  margin-top: 28px;
  margin-bottom: 16px;
}

.feature p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #FBFBFB;
  text-transform: none;
  text-align: center;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 104px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo {
  background-color: #F1E4E6;
  height: calc(100vh - 75px);
}

.promo__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url(../img/bg-s/man.png) no-repeat -228px;
}

.promo__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  max-width: 405px;
  border-left: #F16D7F solid 12px;
  padding-left: 16px;
}

.promo__decor {
  color: #F16D7F;
}

.promo__bold {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase;
}

.promo .center {
  padding: 0 calc(50% - 500px);
}

.category {
  text-transform: uppercase;
  color: white;
  margin: 65px 0;
}

.category__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.category__item {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.category__item__women {
  background: url(../img/bg-s/women.jpg) no-repeat;
  padding: 114px 103px;
}

.category__item__men {
  background: url(../img/bg-s/men.jpg) no-repeat;
  padding: 114px 125px;
}

.category__item__kids {
  background: url(../img/bg-s/kids.jpg) no-repeat;
  padding: 114px 122px;
}

.category__item__accesories {
  background: url(../img/bg-s/accesories.jpg);
  padding: 65px 490px;
}

.category__item span {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}

.category__item:last-child {
  width: 100%;
  height: 160px;
}

.content h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #222222;
  text-transform: none;
  text-align: center;
}

.content h4 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #9F9F9F;
  text-transform: none;
  text-align: center;
}

.content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 48px;
}

.content__item {
  position: relative;
  background-color: #F8F8F8;
  height: 581px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.content__item h4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  text-align: left;
}

.content__item p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
  text-transform: none;
  margin-top: 13px;
  opacity: 0.6;
}

.content__item strong {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: none;
  margin-top: 18px;
}

.content__item__paragraph {
  margin: 25px 29px 20px 16px;
}

.content__item:hover::before {
  position: absolute;
  content: url(../../img/logo/add_to_cart.png);
  padding: 188px 110px;
  background: rgba(58, 56, 56, 0.86);
  cursor: pointer;
}

.content__button_center {
  display: inline-block;
  margin: 48px auto;
}

.content__button {
  padding: 15px 39px;
  border: #F16D7F 1px solid;
  text-transform: capitalize;
  color: #F16D7F;
  margin: 0 auto;
  background-color: #fff;
  text-decoration: none;
}

.content__button:hover {
  background-color: #F16D7F;
  color: #fff;
  cursor: pointer;
}

.content__paging {
  border: 1px solid #EBEBEB;
  min-width: 284px;
  padding: 13px 0;
  margin: 13px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content__paging p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #C4C4C4;
  text-transform: none;
}

.subscription {
  background: url("../../img/bg-s/serfer.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.subscription__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription article {
  max-width: 50%;
}

.subscription .left {
  padding: 97px 0 126px;
}

.subscription .left img {
  display: block;
  margin: 0 auto;
}

.subscription .left p {
  margin-top: 30px;
  max-width: 360px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #222224;
  text-transform: none;
  text-align: center;
}

.subscription .right {
  padding: 150px 0 156px;
}

.subscription .right h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #222224;
  text-transform: uppercase;
  text-align: center;
}

.subscription .right > p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #222224;
  text-transform: uppercase;
  text-align: center;
}

.subscription .right form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subscription .right input,
.subscription .right button {
  border-radius: 20px;
  border: none;
  padding: 15px;
}

.subscription .right input {
  background-color: #E1E1E1;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 256px;
}

.subscription .right button {
  color: white;
  background-color: #F16D7F;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  width: 100px;
}

.subscription .right button:hover {
  cursor: pointer;
}

.reg_form {
  margin: 30px 0 96px;
}

.reg_form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
}

.reg_form__wrapper {
  border: none;
  margin-top: 30px;
}

.reg_form__genderSelection .gender {
  vertical-align: middle;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #000;
  text-transform: none;
}

.reg_form__genderSelection .gender:last-child {
  margin-left: 10px;
}

.reg_form__genderSelection .gender > input {
  margin-right: 10px;
}

.reg_form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222;
  text-transform: none;
  margin-top: 33px;
}

.reg_form fieldset > input {
  padding-left: 17px;
  min-width: 360px;
  min-height: 45px;
  margin: 20px 0;
  border: 1px solid #A4A4A4;
}

.reg_form fieldset > input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  text-transform: capitalize;
}

.reg_form fieldset > input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  text-transform: capitalize;
}

.reg_form fieldset > input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  text-transform: capitalize;
}

.reg_form fieldset > input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  text-transform: capitalize;
}

.reg_form__notice {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  text-transform: none;
  margin-top: 15px;
  max-width: 360px;
}

.reg_form__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 39px;
  background-color: #F16D7F;
  padding: 16px 29px;
  border: none;
}

.reg_form__right {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-top: 30px;
  max-width: 650px;
}

.reg_form__right h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000;
  text-transform: none;
}

.reg_form__right p {
  margin: 22px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000;
  text-transform: none;
}

.reg_form__right ul > li {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000;
  text-transform: none;
  list-style: none;
  margin-top: 16px;
}

.reg_form__right ul > li::before {
  content: url(../img/logo/check.svg);
  margin-right: 22px;
}

.sub__header {
  background-color: #F8F3F4;
}

.sub__header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub__header h1 {
  text-transform: uppercase;
  color: #F16D7F;
  padding: 60px 0;
  font-size: 24px;
  line-height: 29px;
}

.sub__header__navigation {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub__header__navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.sub__header__navigation a:not(:last-child) {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.filter {
  margin-top: 51px;
}

.filter__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__sorting {
  margin: 0 auto;
  min-width: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__sorting p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
  text-transform: uppercase;
}

.filter__sorting p::after {
  content: url(../../img/logo/arrow.svg);
  margin-left: 10px;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: translateX(-2em) skewX(-30deg);
            transform: translateX(-2em) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(15em) skewX(-30deg);
            transform: translateX(15em) skewX(-30deg);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: translateX(-2em) skewX(-30deg);
            transform: translateX(-2em) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(15em) skewX(-30deg);
            transform: translateX(15em) skewX(-30deg);
  }
}

.description__flex {
  margin-top: -48px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
}

.description__line {
  display: block;
  fill: #F16D7F;
  margin: 12px auto;
}

.description h3 {
  margin-top: 65px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #F16D7F;
  text-transform: uppercase;
}

.description h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #4D4D4D;
  text-transform: uppercase;
}

.description p {
  margin: 48px 0 32px;
  max-width: 555px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5E5E5E;
  text-transform: none;
  text-align: center;
}

.description strong {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #F16D7F;
  text-transform: none;
}

.description__line_2 {
  border: 1px solid #EAEAEA;
  height: 1px;
  width: 642px;
  margin: 65px auto;
}

.description__filter {
  min-height: 100px;
  min-width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.description__filter__item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.description__filter__item::after {
  content: url(../img/logo/arrow.svg);
  margin-left: 9px;
}

.description button {
  position: relative;
  margin-bottom: 64px;
  padding: 12px 54px 11px 0;
  border: #F16D7F 2px solid;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: none;
  background-color: #fff;
}

.description button svg {
  margin: 0 24px;
  vertical-align: middle;
  fill: #F16D7F;
  stroke: inherit;
}

.description button::before {
  content: '';
  position: absolute;
  top: -2em;
  left: 0;
  width: 30px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #fff;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
}

.description button:hover::before {
  cursor: pointer;
  -webkit-animation: blink infinite 2s;
          animation: blink infinite 2s;
}

.slide {
  border: 1px solid #eaeaea;
  padding-bottom: 48px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__img {
  margin: 0 auto;
}

.slide__arrow {
  padding: 8px;
  background: rgba(42, 42, 42, 0.15);
  fill: #000;
}

.slide__arrow:hover {
  fill: #F16D7F;
}

.products {
  margin: 128px 0;
}

.products__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_cart {
  margin: 96px 0 128px;
}

.product_cart__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_cart__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 652px;
}

.product_cart__left__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product_cart__left__cart img {
  width: 262px;
}

.product_cart__left__cart article {
  margin: 22px 97px 62px 31px;
}

.product_cart__left__cart h2 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #222222;
  text-transform: none;
  margin-bottom: 42px;
}

.product_cart__left__cart p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  text-transform: none;
}

.product_cart__left__cart strong {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: none;
}

.product_cart__left__cart span {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #6F6E6E;
  text-transform: none;
}

.product_cart__left__cart input {
  margin-left: 24px;
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
}

.product_cart__left__cart:not(:first-child) {
  margin-top: 40px;
}

.product_cart__btns {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_cart__btns button,
.product_cart__btns a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  text-transform: none;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
}

.product_cart__btns button {
  cursor: pointer;
}

.product_cart__btns a {
  text-decoration: none;
}

.product_cart__right form {
  max-width: 360px;
}

.product_cart__right fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.product_cart__right fieldset legend {
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__right fieldset input {
  padding: 13px 145px 16px 17px;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
}

.product_cart__right fieldset input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__right fieldset input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__right fieldset input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__right fieldset input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__right fieldset input:hover::-webkit-input-placeholder {
  color: #B1B1B1;
}

.product_cart__right fieldset input:hover:-ms-input-placeholder {
  color: #B1B1B1;
}

.product_cart__right fieldset input:hover::-ms-input-placeholder {
  color: #B1B1B1;
}

.product_cart__right fieldset input:hover::placeholder {
  color: #B1B1B1;
}

.product_cart__right fieldset button {
  max-width: 100px;
  margin-top: 23px;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #A4A4A4;
  text-transform: none;
  padding: 11px 14px;
  border: 1px solid #A4A4A4;
}

.product_cart__total {
  margin-top: 57px;
  background-color: #F5F3F3;
}

.product_cart__total pre {
  padding: 40px 35px 12px 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #4A4A4A;
  text-transform: none;
  text-transform: uppercase;
  text-align: right;
}

.product_cart__total p {
  padding: 12px 35px 21px 0;
  text-transform: uppercase;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  text-transform: none;
}

.product_cart__total strong {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #F16D7F;
  text-transform: none;
}

.product_cart__total hr {
  width: 275px;
  color: #E2E2E2;
  border: 1px solid #E2E2E2;
  margin: 0 auto;
}

.product_cart__total button {
  margin: 17px 43px 42px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #fff;
  text-transform: none;
  padding: 15px 42px;
  background-color: #F16D7F;
  border: none;
  cursor: pointer;
}

.drop-down details {
  position: relative;
}

.drop-down details svg {
  margin-left: 10px;
  fill: black;
}

.drop-down details > summary {
  list-style-type: none;
}

.drop-down details > summary:hover {
  cursor: pointer;
}

.drop-down details:first-child[open] {
  position: absolute;
  left: 274px;
  top: 262px;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 360px;
}

.drop-down details:first-child[open] > summary {
  padding-top: 13px;
  padding-left: 16px;
  color: #F16D7F;
}

.drop-down details:first-child[open] svg {
  fill: #F16D7F;
}

.drop-down details summary {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-left: 16px;
}

.drop-down details > details {
  margin: 18px;
}

.drop-down details > details summary {
  display: block;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
  text-transform: uppercase;
  padding: 11px 254px 11px 33px;
}

.drop-down details > details[open] summary {
  color: #F16D7F;
}

.drop-down details > details[open] li {
  list-style-type: none;
  padding: 11px 184px 0 34px;
}

.drop-down details > details[open] li:first-child {
  padding-top: 24px;
}

.drop-down details > details[open] li:last-child {
  padding-bottom: 24px;
}

.drop-down details > details[open] a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
  text-transform: capitalize;
}

/* .nav-menu {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 10;
}

.nav {
    width: 232px;
    background-color: #F1E4E6;
    height: calc(100vh - 75px);
    padding: 20px;

    &__wrap {
        position: relative;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 17px;
        // добавить цвет размер
    }
} */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/*# sourceMappingURL=style.css.map */