@import '_vars.scss';
.filter {
    margin-top: 51px;
    &__flex {
        display: flex;
        justify-content: center;
    }
    &__sorting {
        margin: 0 auto;
        min-width: 296px;
        @include flexBetween();
        & p {
            @include typeText(14px, 17px, 400, #6F6E6E, uppercase);
            &::after {
                content: url(../../img/logo/arrow.svg);
                margin-left: 10px;
            }
        }
    }
}