@import '_vars.scss';
footer {
    background-color: #222224;
    padding: 24px 0;
    & .flex {
        @include flexBetween();
        align-items: center;
        &>p {
            @include typeText(16px, 19px, 400, #fbfbfb, capitalize);
            &>span {
                display: inline-block;
                margin: 0 7px;
            }
        }
    }
    & article {
        @include flexBetween();
        &>i {
            background-color: #fff;
            padding: 8px 10px;
            margin-right: 8px;
            max-width: 31.45px;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                cursor: pointer;
                background-color: $main_decor_color;
                color: #fff;
            }
        }
    }
}