@import '_vars.scss';
.footer {
    background-color: #222224;
    padding: 24px 0;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copywrite {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    &__socials {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        background-color: #fff;
        padding: 8px 10px;
        margin-right: 8px;
        max-width: 31.45px;
        align-items: center;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $main_decor_color;
            color: #fff;
        }
    }
}