@import '_vars.scss';
.header__sub {
    background-color: #F8F3F4;
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    & h1 {
        text-transform: uppercase;
        color: $main_decor_color;
        padding: 60px 0;
        font-size: 24px;
        line-height: 29px;
    }
    &__navigation {
        padding: 65px 0;
        display: flex;
        & a {
            text-decoration: none;
            text-transform: uppercase;
            color: $main_decor_color;
            font-size: 14px;
            line-height: 17px;
            font-weight: 700;
            &:not(:last-child) {
                text-decoration: none;
                text-transform: uppercase;
                color: #636363;
                font-size: 14px;
                line-height: 17px;
                font-weight: 300;
            }
        }
    }
}