@import '_vars.scss';
.promo {
    background-color: #F1E4E6;
    height: calc(100vh - 75px);
    &__flex {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        background: url(../img/bg-s/man.png) no-repeat -228px;
    }
    &__title {
        @include typeText(32px, 39px, 700, $main_color, uppercase);
        max-width: 405px;
        border-left: $main_decor_color solid 12px;
        padding-left: 16px;
    }
    &__decor {
        color: $main_decor_color;
    }
    &__bold {
        @include typeText(48px, 58px, 900, $main_color, uppercase);
    }
    & .center {
        padding: 0 calc(50% - 500px);
    }
}