@import '_vars.scss';

.promo {

    background-color: #F1E4E6;
    height: calc(100vh - 75px);

    &__flex {

        height: 100%;
        display: flex;
        background: url(../img/bg-s/man-1.png) no-repeat bottom left;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        background-size: contain;
    }

    &__title {
        @include typeText(2em, 39px, 700, $main_color, uppercase);
        max-width: 405px;
        border-left: $main_decor_color solid 12px;
        padding-left: 16px;
    }

    &__decor {
        color: $main_decor_color;
    }

    &__bold {
        @include typeText(1.5em, 58px, 900, $main_color, uppercase);
        font-weight: bold;
    }


}

@media (max-width: 790px) {
    .promo {
        max-height: 368px;
    }
}

@media (max-width: 608px) {
    .promo {
        &__flex {
            background: none;
            justify-content: center;
        }
    }

}