@import '_vars.scss';
.reg_form {
    margin: 30px 0 96px;
    &__flex {
        @include flexBetween();
        margin-top: 33px;
    }
    &__wrapper {
        border: none;
        margin-top: 30px;
    }
    &__genderSelection {
        & .gender {
            vertical-align: middle;
            @include typeText(11px, 13px, 300, #000);
            &:last-child {
                margin-left: 10px;
            }
            &>input {
                margin-right: 10px;
            }
        }
    }
    & legend {
        @include typeText(16px, 19px, 300, #222);
        margin-top: 33px;
    }
    & fieldset>input {
        padding-left: 17px;
        min-width: 360px;
        min-height: 45px;
        margin: 20px 0;
        border: 1px solid #A4A4A4;
        &::placeholder {
            @include typeText(13px, 16px, 300, #b1b1b1, capitalize);
        }
    }
    &__notice {
        @include typeText(13px, 16px, 300, #b1b1b1);
        margin-top: 15px;
        max-width: 360px;
    }
    &__button {
        @include typeText(14px, 17px, 400, #fff, uppercase);
        margin-top: 39px;
        background-color: $main_decor_color;
        padding: 16px 29px;
        border: none;
    }
    &__right {
        flex-grow: 2;
        margin-top: 30px;
        max-width: 650px;
        & h2 {
            @include typeText(24px, 29px, 300, #000);
        }
        & p {
            margin: 22px 0;
            @include typeText(24px, 29px, 300, #000);
        }
        & ul>li {
            @include typeText(24px, 29px, 300, #000);
            list-style: none;
            margin-top: 16px;
            &::before {
                content: url(../img/logo/check.svg);
                margin-right: 22px;
            }
        }
    }
}