@import '_vars.scss';
.slide {
    border: 1px solid #eaeaea;
    padding-bottom: 48px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    &__img {
        margin: 0 auto;
    }
    &__arrow {
        padding: 8px;
        background: rgba(42, 42, 42, 0.15);
        fill: #000;
        &:hover {
            fill: $main_decor_color;
        }
    }
}