@import '_vars.scss';
.subscription {
    height: 448px;
    background-color: #E1E1E1;
    background: url(../img/bg-s/serfer.svg) 100% 100% no-repeat;
    background-size: cover;
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__text_italic {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    &__quote {
        font-size: 20px;
        line-height: 24px;
        color: #222224;
        text-align: center;
        margin-top: 30px;
    }
    &__subscribe {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #222224;
        text-align: center;
    }
    &__text {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 30px;
        color: #222224;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_left {
            width: 360px;
            padding: 95px 0 126px;
        }
        &_right {
            width: 557px;
            padding: 148px 0 156px;
        }
    }
    &__photo {
        width: 96px;
    }
    &__form {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        &_email,
        &_button {
            border-radius: 20px;
            border: none;
            padding: 15px;
        }
        &_email {
            background-color: #E1E1E1;
            flex-grow: 2;
            border-right-width: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 256px;
        }
        &_button {
            color: white;
            background-color: $main_decor_color;
            border-left-width: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: none;
            width: 100px;
        }
    }
}