$main_color: #222222;
$main_decor_color: #F16D7F;
$feature_color: #FBFBFB;

@mixin flexSpaceAround() {
    display: flex;
    justify-content: space-around;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin flexBetweenWrap() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin typeText($size, $height, $weight, $color, $txt_transform:none) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
    text-transform: $txt_transform;
}

@mixin flexColumnCenter() {
    @include flexColumn();
    align-items: center;
}

@mixin bgImage() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}